@font-face {
    font-family: 'albertus'; 
    src: url('../../webfonts/albertus/ALBMTL_S.TTF');
}
@font-face {
    font-family: 'albertus-medium'; 
    src: url('../../webfonts/albertus/ALR___UB.TTF'); 
}
@font-face {
    font-family: 'albertus-black'; 
    src: url('../../webfonts/albertus/ALXB__UB.TTF'); 
}


html{
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    font-size: 14px;
}
.noPadd{
    padding: 0;
}



.dynamicBG{
    background-color: #000;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.innerDynamic{
    width: inherit;
    height: inherit;
    background-image: url('../../img/calaveras/mainWallpaper.png');
    background-size: repeat;
    opacity: 0.2;
}
.dynamicBG.cenart{
    background-color: #310b3e;
}
.dynamicBG.pinos{
    background-color: #3e0b0b;
}
.dynamicBG.ecatepec{
    background-color: #3e1f0b;
}
.dynamicBG.central{
    background-color: #0b353e;
}


/*  ------------------------------------------  */
                /*NAV STYLES*/
/*  ------------------------------------------  */
nav{
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    padding: 0 !important;
    z-index: 11;
}
.accessible-button{
    margin: 0.5vw;
}
.navbar-nav{
    margin-right: 1vw;
}
.nav-item{
    font-weight: bold;
    padding: 0.5vw 1.5vw;
    height: auto;
}
.nav-item:hover,
.nav-item.active{
    background-color: #c8d6ea;
    transition: background-color 0.1s ease-in;
}
.nav-item a{
    text-decoration: none;
    color: #a9aeb2;
}
.nav-item.active a{
    color: #475258;]
}

.sub-nav{
    height: 10vw;
    background-image: url('../../img/calaveras/plecaHeader1920.png');
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    z-index:10;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
}
.sub-nav img{
    margin-top: 1vw;
    width: 10vw;
    height: auto;
}
    @media (max-width: 576px) {
        .sub-nav{
            height: 20vw;
        }
        .sub-nav img{
            width: 20vw;
        }
    }
    


/*  ------------------------------------------  */
            /*PARALLAX WINDOW STYLES*/
/*  ------------------------------------------  */
.parallaxWindow {
    height: 35vw;
    overflow: hidden;
    z-index: 1;
}
.parallaxWindow > * {
    height: 100%;
    position: relative;
}
#bgParallax1{
  width: 100%;
}
.bgParallaxContent{
    background-color: rgba(0, 0, 0, 0.65);
    height: 35vw;
    width: 100vw;
    position: absolute;
    z-index: 2;
}
 
#calacasLogo {
    margin-top: 2vw;
    width: 30%;
}
.cartelBanner{
    width: 50%;
}
    @media (max-width: 576px) {
        .parallaxWindow {
            height: 60vw;
        }
        .bgParallaxContent{
            height: 60vw;
        }
        #calacasLogo {
            margin-top: 3vw;
            width: 60%;
        }
        .cartelBanner{
            width: 85%;
        }
        #bgParallax1{
            width: 150%;
            margin: -20vw;
        }
    }


/*  ------------------------------------------  */
            /*MAIN INFO WINDOW STYLES*/
/*  ------------------------------------------  */
.main-info{
    background-image: url('../../img/calaveras/plecaSquare.png');
    background-size: contain;
    background-color: #931f7a;    
    color: #f7c6a1;
    padding: 3vw 8vw;
    text-align: center;
    font-size: 1.1em;
    font-family: "Montserrat";
}
.main-info span{
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: bold;
}

#floatFlowerLeft,
#floatFlowerRight {
    position: absolute;
    width: 7vw;
    top: -3vw;
    z-index: 20;
    transform-origin:50% 50%;
    opacity: 0.8;
    
}
#floatFlowerLeft{
    left: 2vw;
    animation: 130s rotate infinite linear; 
}
#floatFlowerRight{
    right: 2vw;
    animation: 130s rotate infinite linear reverse; 
}
    @media (max-width: 576px) {
        .main-info{
            padding: 5vw 8vw;
        }
        .main-info span{
            font-size: 1.1em;
        }
        #floatFlowerLeft,
        #floatFlowerRight {
            display: none;
        }
    }


/*  ------------------------------------------  */
            /*DIV-SEDES STYLES*/
/*  ------------------------------------------  */
.parallaxWindow2 {
    height: 10vw;
    overflow: hidden;
    z-index: 1;
}
.parallaxWindow2 > * {
    height: 100%;
    position: relative;
}
.bgParallaxContent2{
    background-color: rgba(0, 0, 0, 0.75);
    height: 10vw;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #f7c6a1;
    font-size: 2.1em;
    letter-spacing: 5px;
    font-family: 'albertus-black';
    padding: 3vw;
}
#bgParallax2{
  width: 100%;
}

.sedes-menu-block{
    text-align: center;
    padding: 0 0 3vw 0;
    margin-bottom: 2vw;
}
.sedes-menu-element{
    margin-top: 2vw;
}
.sedes-menu-element.active {
    
}
.sedes-menu-element img{
    width: 65%;
    -webkit-filter: brightness(50%); 
    filter: brightness(50%);
}
.sedes-menu-element img:hover{
    cursor: pointer;
    -webkit-filter: brightness(65%); 
    filter: brightness(65%);
}
.sedes-menu-element.active img{
    -webkit-filter: brightness(100%); 
    filter: brightness(100%);
    width: 75%;
}
    @media (max-width: 576px) {
        .parallaxWindow2 {
            height: 30vw;
        }
        .bgParallaxContent2{
            height: 30vw;
            font-size: 1.8em;
            letter-spacing: 3px;
            padding-top: 10vw;
        }
        #bgParallax2{
            width: 200%;
        }
    }

/*  ------------------------------------------  */
            /*DIV-SELECTION STYLES*/
/*  ------------------------------------------  */
.window-menu-block{
    text-align: center;
    height: 10vw;
    margin-bottom: 10vw;
}
.window-menu-element{
    padding-top:  3.5vw;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'albertus-medium';
    letter-spacing: 3.5px;
}
.window-menu-element div{
    pointer-events: none;
}
.window-menu-element.active {
    animation: floating 2s ease-in-out infinite;
}
.window-menu-element img{
    background-color: rgba(255,255,255, 0.2);
    position: absolute;
    width: 80%;
    top: 0;
    left: 10%;
    cursor: pointer;
}
.window-menu-element.active img{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 25px #9ecaed;
}

.window-menu-element:nth-child(1){
    color: #fb644c;    
}
.window-menu-element:nth-child(2){
    color: #b8a5fe;
}
.window-menu-element:nth-child(3){
    color: #c5ffa4;
}
    @media (max-width: 576px) {
        .window-menu-block{
            text-align: center;
            height: 100vw;
            margin-bottom: 10vw;
        }
        .window-menu-element{
            padding-top:  0vw;
            font-size: 6vw;
            margin-bottom: 5vw;
        }
        .window-menu-element img{
            background-color: rgba(255,255,255, 0.2);
            position: relative;
            width: 90%;
            margin: auto;
            cursor: pointer;
            left: 0;
            text-align: center;
        }
        .window-menu-element div{
            position: absolute;
            top: 10vw;
            width: 100%;    
            text-align: center;
        }
    }




/*  ------------------------------------------  */
            /*WINDOW INFO STYLE*/
/*  ------------------------------------------  */
.info-window{
    background-color: rgba(0,0,0, 0.4);
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 5vw;
    padding: 3vw;
}

.sedeTitle{
    margin: auto;
    margin-top: -8vw;
    width: 70%;
    background-image: url('../../img/calaveras/placaSede.png');
    background-size: 100% 100%;
    padding: 2vw 0 3vw 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #552962;
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
    line-height: 1.3em;
}
.sedeTitle span{
    font-size: 0.6em;
}
.infoBlock{
    color: #f7c6a1;
    margin-top: 2vw;
}
.separator{
    margin-top: 2vw;
    padding-bottom: 1vw;
}
.separator hr{
    border-top: 2px solid #f7c6a1;
}
    @media (max-width: 769px) {
        .sedeTitle{
            font-size: 2em;
        }
    }
    @media (max-width: 576px) {
        .info-window{
            padding-bottom: 10vw;
        }
        .sedeTitle{
            margin: auto;
            margin-top: -8vw;
            width: 90%;    
            font-size: 1.8em;
            line-height: 1em;
            padding: 2vw 0 5vw 0;
        }
    }

.mainInfoContainer{
    font-size: 1.2em;
    margin-top: 2vw;
    padding: 0 4vw;
}
.mainInfoContainer p{
    margin-bottom: 2vw;
}
.mainInfoContainer a{
    text-decoration: none;
    color: #f7c6a1;
}
.mainInfoContainer a:hover{
    text-decoration: underline;
}
.mainInfoContainer span{
    font-weight: bold;
    font-size: 1.3em;
}
.mainMapContainer img{
    width: 90%;
}

.vidContainer{
    padding: 1vw 2vw;
}
.vidContainer a{
    text-decoration: none;
    color: #f7c6a1;
}
.vidContainer a:hover{
    text-decoration: underline;
}
.youThumb{
    width: 100%;
}
.youPlay{
    position: absolute;
    top: 30%;    
    left: 35%;
    width: 30%;
    z-index: 2;
    pointer-events: none;
}
    @media (max-width: 576px) {
        .vidContainer{
            padding: 2vw 8vw;
            margin-bottom: 2vw;
        }
        .youThumb{
            width: 90%;
        }
        .youPlay{
            left: 40%;
            width: 20%;
        }
    }
 



.dwnBlock{
    text-align: center;
    font-size: 1.5em;
}
.dwnBlock a{
    color: #f7c6a1;
}
.dwnBlock img{
    width: 3.5vw;
}

.collapsible {
    display: flex;
    align-items: center;
    height: 9vw;
    background-color: #931f7a;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: solid 1px #420f37
}
.collapsible img{
    width: 8vw;
}
.collapsible ~ .collapsible{
    border-radius: 0px;
}
.collapsible.active, .collapsible:hover {
    background-color: #59144a;
}
.collapsible.odd{
    justify-content: flex-start;
}
.collapsible.even{
    justify-content: flex-end;
}

.coll-container{
        height: 0;
        overflow: hidden;  
        -moz-transition: height .5s;
        -ms-transition: height .5s;
        -o-transition: height .5s;
        -webkit-transition: height .5s;
        transition: height .5s;
}
.actividad{
    background-image: url('../../img/calaveras/wall2.png');
    background-size:contain;
    color: #000;
    padding: 1.5vw 3vw;
    font-weight: 900;
    margin-bottom: 1.5vw;
    height: 35vw;
}
.act-header{
    font-weight: bold;
    font-size: 1.5em;
    color: #0073b0;
    letter-spacing: 2px;
}
.act-body{
    margin-top: 1vw;
    max-height: 15vw;
    overflow: auto;
}
.act-area,
.act-fecha,
.act-hr{
    margin-top: 2vw;
}
.act-hr hr{
    border-top: 5px solid #0073b0;
}
    @media (max-width: 1200px) { 
        .act-body{
            max-height: 10vw;
        }
    } 
    @media (max-width: 992px) {
        .actividad{
            font-weight: 900;
            height: 50vw;
        }
        .act-body{
            max-height: 15vw;
        }
    }
    @media (max-width: 576px) {
        .dwnBlock{
            font-size: 1.3em;
        }
        .dwnBlock img{
            width: 10%;
        }
        .collapsible {
            height: 20vw;
            font-size: 1.3em;
        }
        .collapsible img{
            width: 20vw;
        }
        .actividad{
            font-weight: 900;
            height: 60vw;
        }
        .act-header{
            font-size: 1.4em;
            letter-spacing: 1.5px;
        }
        .act-body{
            margin-top: 2vw;
            max-height: 20vw;
            overflow: auto;
        }
        .act-area,
        .act-fecha,
        .act-hr{
            margin-top: 2vw;
        }
        .act-hr hr{
            border-top: 3px solid #0073b0;
        }
    }


/*  ------------------------------------------  */
            /*FOOTER STYLES*/
/*  ------------------------------------------  */
.footer-ayr{
    background-color: #552962;
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}
.footer-ayr .sub-div{
    padding: 2vw 5vw;
    color: #f7c6a1;
    text-align: justify;
}
.footer-ayr .sub-div:nth-child(2){
    font-size: 0.9em;
    margin-top: 3.5vw;
}
.footer-ayr .sub-div:nth-child(3){
    margin-top: 2vw;
    text-align: center;
}
.footer-ayr .sub-div a{
    color: #f7c6a1;
    text-decoration: none;
}
.footer-ayr .sub-div a:hover{
    color: #f89343;
    text-decoration: underline;
}
.footer-ayr .sub-div img{
    display: block;
    margin: auto;
    width: 45%;
}
    @media (max-width: 576px) {
        .footer-ayr{
            text-align: center;
        }
    }



.footer-gob{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    background-color:  #7E3353;
    background-size: cover;
    color: #fff;    
}
.footer-gob #pleca-gob{
    width: 100vw;
}
.footer-gob .sub-div{
    padding: 1vw 4vw 1vw 4vw;
}
.footer-gob .sub-div a{
    color: #fff;
    text-decoration: none;
}
.footer-gob .sub-div a:hover,
.footer-gob .sub-div a:active{
    text-decoration: underline;
    color: #007bff;
}
.footer-gob span{
    font-size: 1.2em;
    font-weight: bold;
}

.footer-gob1{
    text-align: center;
}
.footer-gob1 img{
    width: 80%;
}
.footer-gob3 p:first-of-type a {
    text-decoration: underline;
}
.footer-gob4 span{
    text-decoration: underline;
}



/*  ------------------------------------------  */
            /*ANIMATIONS*/
/*  ------------------------------------------  */
@-webkit-keyframes rotate {
    100%{ transform:rotate(360deg); }
}
@-moz-keyframes rotate {
    100%{ transform:rotate(360deg); }
}
@-o-keyframes rotate {
    100%{ transform:rotate(360deg); }
}
@keyframes rotate {
    100%{ transform:rotate(360deg); }
}

@-webkit-keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }  
}
@-moz-keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }  
}
@-o-keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }  
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }  
}




