@font-face {
    font-family: 'albertus'; 
    src: url('../../webfonts/albertus/ALBMTL_S.TTF');
}
@font-face {
    font-family: 'albertus-medium'; 
    src: url('../../webfonts/albertus/ALR___UB.TTF'); 
}
@font-face {
    font-family: 'albertus-black'; 
    src: url('../../webfonts/albertus/ALXB__UB.TTF'); 
}


html{
    scroll-behavior: smooth;
}
body{
    font-family: 'albertus', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    font-size: 14px;
}
.noPadd{
    padding: 0;
}
.dynamicBG{
    background-color: #ffd;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* -webkit-animation: fadeInFromNone 0.5s ease-in alternate-reverse;
    -moz-animation: fadeInFromNone 0.5s ease-in alternate-reverse;
    -o-animation: fadeInFromNone 0.5s ease-in alternate-reverse;
    animation: fadeInFromNone 0.5s ease-in alternate-reverse; */
    opacity: 0;
}
.dynamicBG.active{
    -webkit-animation: fadeInFromNone 0.5s ease-in;
    -moz-animation: fadeInFromNone 0.5s ease-in;
    -o-animation: fadeInFromNone 0.5s ease-in;
    animation: fadeInFromNone 0.5s ease-in;
    opacity: 1
}
.posterBG{
    background-color: #bfbfbf;
}
.cenartBG{
    background-color: #e6fff1;
}
.pinosBG{
    background-color: #fff2e6;
}
.ecatepecBG{
    background-color: #ffe6f7;
}
.centralBG{
    background-color: #e6eeff;
}



/*  ------------------------------------------  */
                /*NAV STYLES*/
/*  ------------------------------------------  */
nav{
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(125,125,125,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(125,125,125,1);
    box-shadow: 0px 1px 5px 0px rgba(125,125,125,1);
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
}
.accessible-button{
    margin: 1vw;
}
.navbar-nav{
    margin-right: 1vw;
}
.nav-item{
    font-weight: bold;
    padding: 0.5vw 1.5vw;
    height: auto;
}
.nav-item:hover,
.nav-item.active{
    background-color: #c8d6ea;
    transition: background-color 0.1s ease-in;
}
.nav-item a{
    text-decoration: none;
    color: #a9aeb2;
}
.nav-item.active a{
    color: #475258;]
}

.sub-nav{
    height: 9vw;
    background: #00abd1;
    text-align: center;
}
.sub-nav img{
    width: 11vw;
    height: auto;
}
.social-top{
    display: none;
}
.social-nav{ 
    position: absolute;
    display: inline;
    top: 1vw;
    right: 1vw;
    z-index: 9;
}
.btn-circle {
    text-align: center;
    border-radius: 50%;
}
.social-btn{
    display: inline;
    width: 3vw;
    height: 3vw;
    border: 2px solid #f8f9fa;    
}
.social-btn a{
    text-decoration:none;
    color: #f8f9fa;
    font-size:1vw;
    margin: auto;
}
.social-btn:hover, .social-btn:active{
    background: #f8f9fa;
}
.social-btn:hover a, .social-btn:active a{    
    color: #2c3e50;
}
    @media (max-width: 1200px) {
        .social-btn{
            width: 3.7vw;
            height: 3.7vw;
        }
        .social-btn a{
            font-size:0.9vw;
        }
    }
    @media (max-width: 992px) {
        nav{
            padding: 1vw !important;
        }        
        .social-btn{
            width: 4.5vw;
            height: 4.5vw;
        }        
    }
    @media (max-width: 769px) {
        nav{
            padding: 2vw !important;
            font-size: 1.4em;
        }
        .navbar-toggler{
            width: 10vw;
            height: 8vw;
        }
        .navbar-toggler-icon{
            font-size: 4vw;
        }
        .accessible-button{
            font-size: 1.3em;
            padding: 2vw 0;
        }
        .social-top{
            display: block;
        }
        .social-nav{
            display: none;
        }
        .social-btn{
            width: 7vw;
            height: 7vw;
            border: solid 2px #475258;
        }
        .social-btn a{
            color: #475258;
            font-size: 2.5vw;
        }
        .nav-item{
            padding: 2vw 0;
            text-align: center;
        }
        .sub-nav{
            height: 18vw;
        }
        .sub-nav img{
            width: 22vw;
        }
    }
    @media (max-width: 576px) {
        nav{
            padding: 3vw !important;
            font-size: 1.2em;
        }
        .navbar-toggler{
            width: 15vw;
            height: 10vw;
        }
        .social-btn{
            width: 13vw;
            height: 13vw;
            border: solid 2px #475258;
        }
        .social-btn a{
            font-size: 3.5vw;
        }
        .sub-nav{
            height: 24vw;
        }
        .sub-nav img{
            width: 28vw;
        }
    }



/*  ------------------------------------------  */
            /*DIV-SEDES STYLES*/
/*  ------------------------------------------  */
.event-description-text{
    font-size: 0.9em;
    margin-bottom: 1.5vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1vw;
    border-radius:  3px;
}
.div-sedes-container{
    padding: 3vw 6vw;
}
.div-sede{
    padding: 0 2vw;
    margin-bottom:  2vw;
    text-align: center;
}
.sede-selector{
    background-color: #fff;
    padding: 0.5vw;
    border: solid 3px #fff; 
    border-radius:  3px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
    box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
}
.sede-selector:hover,
.sede-selector.active{    
    border-color: #b3b3ff;    
    transition: border-color 0.2s ease-in;
}
.div-sede-img{
    height: 8vw;
    background-color: #e3eaf4;
}
.div-sede-img img{
    width: 100%;
    height: auto;
}
.div-sede-info{
    color: #a9aeb2;
}
.div-sede-info span{
    color: #475258;
    font-weight: bold;
    font-size: 1.1em;
}
    @media (max-width: 576px) {
        .div-sedes-container{
            padding: 10vw 7vw 5vw 7vw;
        }
        .div-sede{
            margin-bottom:  2vw;
        }
        .sede-selector{
            padding: 2vw;
        }
        .div-sede-img{
            height: 20vw;
        }        
        .div-sede-info{
            margin-top: 2vw;
            max-height: 20vw;
        }
        .div-sede-info p{
            display: none;
        }
    }

/*  ------------------------------------------  */
            /*DIV-SELECTION STYLES*/
/*  ------------------------------------------  */
.div-selection-container{
    padding: 2vw 4vw 0 0;
}

.sub-menu{
    text-align:right;
}
.sub-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    display: table;
    width: 60%;
}
.sub-menu li{
    padding: 0.5vw 1.5vw;
    text-align: center;
    display: table-cell;
    cursor: pointer;
}
.avoid-clicks{
    opacity: 0.5;
    pointer-events: none;
}
.sub-menu .active{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: solid 2px;
    border-bottom: none;
    transition: border 0.2s ease-in;
    background-color: rgba(255, 255, 255, 0.5);
}
.sub-menu.menuMain .active{
    border-color:  #595959;
}
.sub-menu.menuCenart .active{
    border-color:  #00cf5d;
}
.sub-menu.menuPinos .active{
    border-color:  #ff9933;
}
.sub-menu.menuEcatepec .active{
    border-color:  #ff66cc;
}
.sub-menu.menuCentral .active{
    border-color:  #6699ff;
}

.sub-menu li:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


.div-selection-main{    
    border-radius: 3px;
    padding: 2vw 3vw;    
    -webkit-animation: fadeInFromNone 0.3s ease-in alternate-reverse;
    -moz-animation: fadeInFromNone 0.3s ease-in alternate-reverse;
    -o-animation: fadeInFromNone 0.3s ease-in alternate-reverse;
    animation: fadeInFromNone 0.3s ease-in alternate-reverse;
    opacity: 0;
    display: none;
}
.div-selection-main:nth-of-type(1){
    background: #333;
}
.div-selection-main:nth-of-type(2){
    background: #00cf5d;
}
.div-selection-main:nth-of-type(3){
    background: #ff9933;
}
.div-selection-main:nth-of-type(4){
    background: #ff66cc;
}
.div-selection-main:nth-of-type(5){
    background: #6699ff;
}

.div-selection-main.main-poster{
    height: 38vw;
    overflow-y: auto;
}
.div-selection-main.main-poster img{
    width: 100%;
}
.div-selection-main.selected{
    display: block;    
    -webkit-animation: fadeInFromNone 0.5s ease-in;
    -moz-animation: fadeInFromNone 0.5s ease-in;
    -o-animation: fadeInFromNone 0.5s ease-in;
    animation: fadeInFromNone 0.5s ease-in;
    opacity: 1;
}

.selection-main-title{
    color: #1f5d5c;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 1.5vw;
}
.selection-main-description{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 1vw 1vw;
    margin: 1vw 0vw 0 0;
    height: 10vw;
}
.selection-main-description li{
    color: #000;
    cursor: pointer;
}
.selection-main-description li:hover{
    text-decoration: underline;
}
.selection-main-description ul{
    list-style: none;
}

.selection-main-pic{
    background: #e3eaf4;
    height: 14vw;
}

.selection-main-map img{
    margin-top: 2vw;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.selection-main-map-info{
    padding: 2vw 2vw;
    text-align: left;
    color: #fff;
}
.selection-main-map-info span{
    font-weight: bold;
}
.selection-main-map-info a{
    color: #fff;
    text-decoration: underline;
}
    @media (max-width: 992px) {
        .sub-menu{
            text-align:center;
        }
        .sub-menu ul{
            margin: auto;
            float: none;
            width: 70%;
        }
        .sub-menu li{
            padding: 1vw 1.5vw;
        }


        .div-selection-container{
            padding: 2vw 0 0 0;
        }
        .div-selection-main{   
            padding: 3vw 4vw;    
        }
        .selection-main-title{
            font-size: 1.4em;
            margin-left: 3vw;
        }
        .selection-main-description{
            padding: 1vw 2vw;
            margin: 2vw 0 0 0;
            height: 20vw;
        }
        .selection-main-pic{
            margin: 0 0 0 2vw;
            height: 26vw;
        }
        .selection-main-map{
            font-size: 1.3em;
        }
        .selection-main-map img{
            margin-bottom: 2vw;
        }
        .selection-main-map span{
            font-size: 1.3em;            
        }
        .selection-main-map a{
            font-size:  1.2em;
        }
    }
    @media (max-width: 576px) {
        .sub-menu ul{
            width: 90%;
        }
        .sub-menu li{
            padding: 3vw 2vw;
        }

        .selection-main-block{   
            padding: 0 3vw;
        }
        .div-selection-main{
            padding: 3vw 4vw;
        }
        .selection-main-title{
            padding: 1.5vw;
            margin-left: 0;
            text-align: center;
        }
        .selection-main-description{
            padding: 1vw 2vw;
            margin: 1.5vw 0;
            height: 40vw;
        }
        .selection-main-pic{
            margin: 1.5vw 0;
            height: 40vw;
        }
        .selection-main-map{
            font-size: 1em;
        }
        .selection-main-map span{
            font-size: 1.3em;
            line-height: 2em;
        }
        .selection-main-map a{
            font-size:  1.1em;
            line-height: 2em;
        }
    }

.hidden-row{
    height: 40vw;
    display:  none;
    overflow-y: auto;
}
.hidden-load-container{
    display: none;
}
.hidden-load-container img{
    width: 8vw;
    margin-top: 10vw;
}
.hidden-info-window{
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3vw;
    border-radius: 3px;
}
.hidden-info-window img{
    width: 100%;
    height: auto;
}

.hidden-info-window .cart-sede{
    text-align: left;
    font-weight: bold;
    font-size: 2em; 
    padding: 1vw 0;
    border-top: solid 3px #475258;
    margin-bottom: 3vw;
    color: #475258;
}
.hidden-info-window .cart-sede .dwn-div{
    float: right;
    text-align: center;
    line-height: 0.8em;
}
.hidden-info-window .cart-sede .dwn-div a{
    font-size: 0.5em;
    color: #fff;
}
.hidden-info-window .cart-sede .dwn-div img{
    width: 3vw;
}

.btn-collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.btn-collapsible ~ .btn-collapsible{
    border-radius: 0px;
}
.btn-collapsible.active, .btn-collapsible:hover {
background-color: #555;
}

.content {
padding: 2vw;
display: none;
overflow: hidden;
background-color: #fff;
}
.content.active{
display: block;
-webkit-animation: slide-down 0.2s ease-in;
-moz-animation: slide-down 0.2s ease-in;
-o-animation: slide-down 0.2s ease-in;
animation: slide-down 0.2s ease-in;
}

.content .actividad{
    background: #f1f1f1;    
    padding: 1vw;
    border-bottom: solid 1px #000;
    margin-bottom:  1.5vw;
}
.content .actividad .act-header{
    background: #e6e6e6;
    border-radius: 3px; 
    padding: 1.5vw;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1vw;
}
span.area{
    font-weight: bold;
    font-style: italic;
}
span.fecha{
    font-size:  0.9em;
}


    @media (max-width: 992px) {
        .hidden-row{
            height: 88vw;
        }
        .hidden-load-container img{
            width: 12vw;
            margin-top: 20vw;
        }
        .hidden-info-window .cart-sede{
            font-size: 1.6em; 
            padding: 2vw 0;
            margin-bottom: 6vw;
        }
        .hidden-info-window .cart-sede .dwn-div a{
            font-size: 0.7em;
        }
        .hidden-info-window .cart-sede .dwn-div img{
            width: 5vw;
        }
        .content .actividad{
            padding: 1.5vw;
            margin-bottom: 0.5vw;
        }
        .content .actividad .act-header{
            font-size: 1.4em;
            margin-bottom: 1.5vw;
        }
    }
    @media (max-width: 576px) {
        .hidden-row{
            height: 150vw;
        }
        .hidden-load-container img{
            width: 25vw;
            margin-top: 25vw;
        }.hidden-info-window .cart-sede{
            font-size: 1.6em; 
            padding: 3vw 0;
            margin-bottom: 2vw;
        }
        .hidden-info-window .cart-sede .dwn-div{
            float: none;
            text-align: right;
            line-height: 0.8em;
        }
        .hidden-info-window .cart-sede .dwn-div a{
            font-size: 0.5em;
            color: #fff;
        }
        .hidden-info-window .cart-sede .dwn-div img{
            width: 10vw;
        }
        .content .actividad{
            font-size:  0.9em;
        }
        .content .actividad .act-header{
            font-size: 1.2em;
            padding: 3vw 2vw;
            margin-bottom: 1.5vw;
        }
    }

/*  ------------------------------------------  */
            /*FOOTER STYLES*/
/*  ------------------------------------------  */
.footer-ayr{
    background-color: #552962;
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}
.footer-ayr .sub-div{
    padding: 2vw 5vw;
    color: #f7c6a1;
    text-align: justify;
}
.footer-ayr .sub-div:nth-child(2){
    font-size: 0.9em;
    margin-top: 3.5vw;
}
.footer-ayr .sub-div:nth-child(3){
    margin-top: 2vw;
    text-align: center;
}
.footer-ayr .sub-div a{
    color: #f7c6a1;
    text-decoration: none;
}
.footer-ayr .sub-div a:hover{
    color: #f89343;
    text-decoration: underline;
}
.footer-ayr .sub-div img{
    display: block;
    margin: auto;
    width: 45%;
}



.footer-gob{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    background-color:  #7E3353;
    /* background-image: url('../../img/fondofooter.svg'); */
    background-size: cover;
    color: #fff;    
    /* font-size: 1.1em; */
}
.footer-gob #pleca-gob{
    width: 100vw;
}
.footer-gob .sub-div{
    padding: 1vw 4vw 1vw 4vw;
}
.footer-gob .sub-div a{
    color: #fff;
    text-decoration: none;
}
.footer-gob .sub-div a:hover,
.footer-gob .sub-div a:active{
    text-decoration: underline;
    color: #007bff;
}
.footer-gob span{
    font-size: 1.2em;
    font-weight: bold;
}

.footer-gob1{
    text-align: center;
}
.footer-gob1 img{
    width: 80%;
}
.footer-gob3 p:first-of-type a {
    text-decoration: underline;
}
.footer-gob4 span{
    text-decoration: underline;
}



/* .footer{
    margin-top: 3vw;
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
    padding: 4vw 0;
}
@media (max-width: 576px) {
    .footer{
        margin-top: 6vw;
        padding: 8vw 0;
    }
}
 */


/*  ------------------------------------------  */
            /*ANIMATIONS*/
/*  ------------------------------------------  */
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; }   
  100% { opacity: 1; }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; }   
  100% { opacity: 1; }
}
@-o-keyframes slide-down {
    0% { opacity: 0; }   
  100% { opacity: 1; }
}
@keyframes slide-down {
    0% { opacity: 0; }   
  100% { opacity: 1; }
}